h2{
    color: white;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.movie-item{
    margin: 10px;
    text-align: center;
    color: white;
}

.movie-item img{
    max-width: 225px;
    max-height: 225px;
}